table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  th {
      color: #8587a3;
  }
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }
  .selectcategory {
    background-color: rgb(226, 221, 221) !important;
    width: 126px;
    margin: 0 20px;
    padding: 2px 7px;
    height: 30px;
    border-radius: 4px;
}
.item__select-categogy {
    background-color: rgb(230, 224, 224);
}
.label-select {
    color: #efa10f;
    margin-bottom: 0;
}
.icon-edit {
    color: #efa10f;
}   
.icon-delete {
    color: red;
} 
.text-align-center {
    text-align: center;
}
.select {
    display: flex;
    justify-content: space-between;
    margin: 10px 24px;
}
.btn-upload {
    color: white;
    background-color: #efa10f;
} 
.icon-upload {
 
    margin: 0 10px 0 0; 
}
.wrapper-select {
    display: flex;
    align-items: flex-end;
}
.selectcategory-add {
    width: 100%;
}
.modal-header {
    padding: 3px 10px;
}
.modal-body {
    padding: 11px 10px 0 10px;
}
.modal-footer {
    padding: 10px 10px;

}