<div class="content">
    <div class="select">
        <div class="wrapper-select">
            <label class="label-select">Select Categogy:</label>
            <select name="categories" id="categories" class="selectcategory">
              <option value="1" class="item__select-categogy">Animals</option>
              <option value="2" class="item__select-categogy">Life</option>
              <option value="3" class="item__select-categogy">Pets</option>
              <option value="4" class="item__select-categogy">Sky</option>
            </select>
            <label class="label-select">Select Status:</label>
            <select name="status" id="status" class="selectcategory">
              <option value="1" class="item__select-categogy">Published</option>
              <option value="0" class="item__select-categogy">Not</option>
            </select>
        </div>
        <button type="button" class="btn btn-upload" data-toggle="modal" data-target="#UploadPhoto"><i class="fas fa-plus icon-upload"></i>Upload photo</button>
    </div>
  <!-- Modal -->
  <div class="modal fade" id="UploadPhoto" tabindex="-1" role="dialog" aria-labelledby="UploadPhotoLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="UploadPhotoLabel">Upload Photo</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form action="">
            <div class="modal-body">
                <div class="form-group">
                    <h6 class="text-black-50">Title</h6>
                    <input class="form-control " id="nameUser" type="text"
                        placeholder="Hoa hướng dương " 
                        required>
                </div>
                <div class="form-group">
                    <h6 class="text-black-50">Categogy</h6>
                    <select name="categories" id="categories-add" class="selectcategory-add form-control">
                        <option value="1">Animals</option>
                        <option value="2">Life</option>
                        <option value="3">Pets</option>
                        <option value="4">Sky</option>
                      </select>
                </div>
                <div class="form-group">
                    <h6 class="text-black-50">Date:</h6>
                    <input class="form-control " id="date" type="date" 
                        name="Date" accept="" placeholder="20/11/2020"
                        title="Date is invalid!" required>
                </div>
                <div class="form-group">
                    <h6 class="text-black-50">Status:</h6>
                    <select name="status" id="status-add" class="selectcategory-add form-control">
                        <option value="1" >Published</option>
                        <option value="0" >Not</option>
                      </select>
                </div>
                <div class="form-group">
                    <h6 class="text-black-50">Image:</h6>
                    <button type="button" class="btn btn-secondary float-center" (clcik)="onUpload()">Upload</button>
                </div>
                <div class="modal-footer">
                    <button type="submit" id="submitAddPokestop"
                        class="btn btn-success"
                        style="width: 100%;"><span
                            class="	fas fa-check-circle"></span>Add</button>
                </div>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-upload">Save changes</button>
        </div>
      </div>
    </div>
  </div>
  <table>
    <tr>
      <th><input type="checkbox" /></th>
      <th>Images</th>
      <th>Title</th>
      <th>Category</th>
      <th>Date</th>
      <th>Status</th>
      <th class="text-align-center">Edit</th>
      <th class="text-align-center">Delete</th>
    </tr>
    <tr>
      <td><input type="checkbox" /></td>
      <td>truyền dữ liệu</td>
      <td>truyền dữ liệu</td>
      <td>truyền dữ liệu</td>
      <td>truyền dữ liệu</td>
      <td>truyền dữ liệu</td>
      <td class="text-align-center" ><i class="fas fa-edit icon-edit"></i></td>
      <td  class="text-align-center"><i class="fas fa-trash icon-delete"></i></td>
    </tr>
  </table>
</div>
