<div class="content">
    <table>
        <tr>
        <th><input type="checkbox"></th>
          <th>Images</th>
          <th>Title</th>
          <th>Category</th>
          <th>Date</th>
          <th>Status</th>
          <th>Edit</th>
          <th>Delete</th>
        </tr>
        <tr>
          <td><input type="checkbox"></td>
          <td>truyền dữ liệu</td>
          <td>truyền dữ liệu</td>
          <td>truyền dữ liệu</td>
          <td>truyền dữ liệu</td>
          <td>truyền dữ liệu</td>
          <td>truyền dữ liệu</td>
          <td>truyền dữ liệu</td>
        </tr>
        
       
      </table>
</div>
